{% extends "base.html" %}
{% load static %}
{% block content %}


<style>
    .home-sci-icons{
        width: 250px;
        margin-top: 10px;
        margin-left: 25%;
    }

    .iconsclass{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #00abf0;
        border-radius: 50%;
        text-decoration: none;
        font-size: 20px;
        color: #00abf0;
        overflow: hidden;
    }


    #marginsize{
        margin-left: 10%; margin-right: 10%;
        min-height: calc(100vh)
    }
    .home{
        margin-top: 120px;
    }
    .title{
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;font-weight: 900;
    }
    .head2{
        font-family: 'montserrat ', sans-serif ;font-size: 24px;
    }
    .coverimg{
        margin-top: 139px;  
        width:377px;
        height:377px;
    }
    .contacticons{
        font-size: 24px;
    }


</style>
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
<title>WildLab</title>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="row" id="marginsize">
    <div class="col-8">
        <section class="home">
            <div class="home-content">
                <h1 class="title">Ajith Jose Paul</h1>
                <h1 class="head2">Project Assistant</h1>
                <br>
                <span class="content">   
                    <p>
                        &nbsp; &nbsp; &nbsp; &nbsp; From the world of wildlife documentaries and adventure, to the word conservation, the distance was very apparent for me. Only after joining my masters did I properly understand why and what the word conservation meant and did for the natural world around me. From there it was a phase of unlearning what was wrong and trying to learn what is right. Started from birds and the interest grew into butterflies and herpetofauna which helped in honing my skills while grounding my focus. For my masters thesis I studied the habitat specificity of  Nyctibatrachus frogs in selected areas of South Wayanad. I believe in the continuous process of learning something and unlearning a multitude of subjects. Currently I am working as Project Assistant on a project for assessment of otters outside protected areas and conflict mitigation.
             
             
             
                     </p>
             
                </span>

            </div>

        </section>
    </div>
    <div class="col-4">
        <span class="home-img-hover">
            <img  src="{% static '/images/team_ind/thali-team.png' %}"   class="coverimg" alt="Ajith Jose Paul">
        </span>
        <br>
        <div class="home-sci-icons">
            <a href="mailto:ajithjosepaul97@gmail.com" target="_blank"  class="iconsclass"><i class='bx bxs-envelope' ></i></a> 
            <a href="https://www.instagram.com/_kranthadarshi?igshid=NzZhOTFlYzFmZQ==" class="iconsclass" target="_blank"><i class='bx bxl-instagram'></i></a>

        </div>
    </div>
</div>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>