{% extends "base.html" %}
{% load static %}




{% block content %}
<div  class="container" style="margin-top: 5%;">
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <p>Address:</p>
            <span>Department of Wildlife Biology</span><br>
            <span>Kerala Forest Research Institute</span><br>
            <span>Peechi, Thrissur, Kerala-680653, India</span><br><br>
            <span>Tel: 91-487-2690272; 8281730109</span><br>
            <span>Email: baluperoth@kfri.res.in, baluperoth@gmail.com</span>
        </div>
      </div>

</div>

{% endblock content %}
