{% extends "base.html" %}
{% load static %}




{% block content %}
<style>
    .col-3{
        font-size: 26px;
        font-family: 'Bebas Neue ', sans-serif;
        font-weight: 600;
        color: #6b6262;
    }
    .col-9{
        font-family: 'Lato', sans-serif; 
        font-size: 22px;
    }
    .margin{
        margin-left: 20%; margin-right: 20%;
    }
    .comeon{
        font-family: 'Lato', sans-serif; 
        font-size: 22px;
    }
</style>
<div  class="margin" style="margin-top: 5%;">
    <div class="row">
        <div class="col-3">
            Post-docs
        </div>
        <div class="col-9">
            We are always looking for talented post doctoral fellows with their own fellowships/funding. Visit the lab or write to us to explore opportunities.

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            PhD
        </div>
        <div class="col-9">
            If you are interested in a PhD position matching our research themes, write to us. Please note that having a fellowship is not the only criteria for securing a position. 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Project positions
        </div>
        <div class="col-9">
            Vacancies in projects are advertised on the institutional website. 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            MSc dissertations and internships
        </div>
        <div class="col-9">
            Each year 3-5 masters students are accepted in the lab for their dissertation work. Please note that, we accept students with at least three months duration exclusively for their dissertation work. Interns and highly motivated volunteers from related disciplines are also welcome to join our research and outreach programmes. Contact us before making a formal application to the institute.  
        </div>
    </div>
    <br>
    <div class="comeon">
        We accept interns throughout the year in our Biodiversity Internship Programme. For details contact us.  
    </div>
    <br>
<!--
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <p>Address:</p>
            <span>Department of Wildlife Biology</span><br>
            <span>Kerala Forest Research Institute</span><br>
            <span>Peechi, Thrissur, Kerala-680653, India</span><br><br>
            <span>Tel: 91-487-2690272; 8281730109</span><br>
            <span>Email: baluperoth@kfri.res.in, baluperoth@gmail.com</span>
        </div>
      </div>
-->
</div>
<div class="margin">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3922.630361612477!2d76.34789169999999!3d10.529751899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7e59fbb20c58f%3A0x2c0e20e112beb932!2sWildLab!5e0!3m2!1sen!2sin!4v1692010588354!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

{% endblock content %}
