{% extends "base.html" %}
{% load static %}




{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  li{ 
  margin: 0px 0px 13px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
.year{
  font-family: 'Bebas Neue ', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.divimgtext{
    margin-left: 8%; margin-top: -14%; position: absolute; opacity: 0.7; color: aliceblue;
}
</style>
</head>
<body>
<div style="margin-top: 59px;">
  <img src="{% static '/images/publication.jpg' %}"  style="height: 80%; width:100%;" alt="First slide">
  <div  class="divimgtext">
      <p style="  font-family: 'Bebas Neue ', sans-serif ;font-weight: 600;font-size: 75px; margin-top: -17%;text-shadow: 2px 2px 4px #000000;">Publications</p>
  </div>
</div>
<br>
<br>
  <div class="container">
    <div class="content">
        <h2 class="year">2023</h2>
        <ul>
          <li>
            Patel, B., Sivaraman, S. and P. Balakrishnan. (in press). Nesting ecology of Plum-headed parakeet Himalayapsitta cyanocephala (Linnaeus, 1766) in the southern Western Ghats, India. Journal of Bombay Natural History Society.
          </li>
          <li>
            Divakar, N., Deepak, K., Ahirbudhnyan, M., Vishal, G.M.S., Sheheer, T.A. and P. Balakrishnan. 2023. Mapping and stakeholder engagement for the conservation of habitat trees and fruit bats in Kerala, India. In: Proc. of the 59th Annual Meeting of Association for Tropical Biology and Conservation. July 2nd-6th, 2023. Coimbatore, India.
          </li>
          <li>
            Patel, B. and P. Balakrishnan. 2023. Dead trees as a critical resource for cavity using habitat specialists in the tropical forests of the Southern Western Ghats.  In: Proc. of the 59th Annual Meeting of Association for Tropical Biology and Conservation. July 2nd-6th, 2023. Coimbatore, India. 
          </li>
          <li>
            Vishal, G.M.S., Sheheer, T.A. and P. Balakrishnan. 2023. Stakeholder views on conservation in the context of small mammal crop raiding around a protected area in the Western Ghats.  In: Proc. of the 59th Annual Meeting of Association for Tropical Biology and Conservation. July 2nd-6th, 2023. Coimbatore, India. 
          </li>
          <li>
            Deepak, K., Divakar, N. and P. Balakrishnan. 2023. Wildlife protection and public participation. Aranyam, March, 2023: 14-18.
          </li>
        </ul>
    </div>
  </div>
  <div class="container right">
    <div class="content">
        <h2 class="year">2022</h2>
        <ul>
          <li>
            Patel, B., Sivaraman, S. and P. Balakrishnan. 2022. Nesting Ecology of Malabar Grey Hornbill Ocyceros griseus in a Mosaic Landscape in the Southern Western Ghats, India. Proceedings of the Zoological Society, 75: 337-348.  
            
            <a href="https://link.springer.com/article/10.1007/s12595-022-00446-1" target="_blank">https://link.springer.com/article/10.1007/s12595-022-00446-1 </a>
          </li>
          <li>
            Wani, M.R. and B. Patel. 2022. Photosynthetic performance of Terminalia arjuna Roxb towards different doses of 60Co γ-irradiation. Biocatalysis and Agricultural Biotechnology, 43, 102442. 
            <a href="https://doi.org/10.1016/j.bcab.2022.102442" target="_blank">https://doi.org/10.1016/j.bcab.2022.102442 </a>.
          </li>
            <li>Narayanan, N., Das, S., Balan, A., Tom, R., Divakar N., Rajkumar, K.P., Hopeland, P. and V. Deepak. 2022. A new species of Cyrtodactylus (Reptilia: Gekkonidae) from the southern Western Ghats of India. Vertebrate Zoology 72: 729–743.
              <a href="https://doi.org/10.3897/vz.72.e89660" target="_blank">  https://doi.org/10.3897/vz.72.e89660  </a> </li>
            <li><b>Divakar, N</b>. 2022. Bats unsung heroes. Newsletter of the Nilgiri Natural History Society. Pp. 8-11.</li>
            <li>Balakrishnan, P., Das, K.S.A., Patel, B. and S. Sivaraman. (in press). Predation of Indian giant flying squirrel and Travancore flying squirrel in the Western Ghats, India. Mammalia, 2022. 
              <a href="https://www.degruyter.com/document/doi/10.1515/mammalia-2021-0097/html" target="_blank">(DOI)</a>
            </li>
            <li>Bindu, T. N., Balakrishnan, P., Sajeev T.V. and V.V. Sudheendrakumar. 2022. Role of soil and larval excreta in the horizontal transmission of the baculovirus HpNPV and its implications in the management of teak defoliator Hyblaea puera. Current Science, 122(11): 1321-1326. 
              <a href="https://www.currentscience.ac.in/Volumes/122/11/1321.pdf" target="_blank">(DOI / pdf)</a>
            </li>
            <li>Bindu, T. N., Balakrishnan, P., Sajeev T.V. and V.V. Sudheendrakumar. 2022. Seeding baculovirus HpNPV in the epicentre populations of teak defoliator, Hyblaea puera to prevent large-scale outbreaks. Current Science, 122(7): 812-818. 
              <a href="https://www.currentscience.ac.in/Volumes/122/07/0812.pdf" target="_blank">(DOI / pdf)</a>
            </li>
            <li>Sreejith K.A., Balakrishnan, P. and M. Amruth. 2022. Forest and Wildlife: Conservation and Challenges (in Malayalam). Book Chapter. In: Manorama Year Book. pp. 346-363.</li>
            <li>Bindu, T. N. and P. Balakrishanan. 2022. World of Viruses (in Malayalam). Deshabhimani Kilivathil. 29th May, 2022.</li>
            <li>Balakrishnan, P. 2022. Evolution of locomotion in dinosaurs (in Malayalam). Deshabhimani Kilivathil. 6th February, 2022.</li>
        </ul>
    </div>
  </div>
  <div class="container right">
      <div class="content">
          <h2 class="year">2021</h2>
          <ul>
              <li>Patel, B., Sivaraman, S. and P. Balakrishnan. 2021. Use of tree cavities by Indian vertebrates: status of research, knowledge gaps and future conservation perspectives. Current Science, 121(4): 490-501.               
              <a href="https://www.currentscience.ac.in/Volumes/121/04/0490.pdf" target="_blank">(pdf)</a>
              </li>
              <li>Patel, B. 2021. Parasitoid Tachinid Fly on Lobster Moth <i> Neostauropus alternus </i> – an observation from the forests near Peechi-Vazhani Wildlife Sanctuary, Thrissur district, Kerala, India. Journal of the Bombay Natural History Society 118(2). 
              <a href="https://www.bnhsjournal.in/index.php/bnhs/article/view/152548" target="_blank">(DOI)</a>
              </li>
              <li>Patel B., Balakrishnan. P. and T.K. Hrideek. 2021. Tree-microhabitats in tropical forests of the southern Western Ghats. In: New Horizons in Plant Sciences, Proc. International Conference, 04-09 January 2021. (ISBN: 978 -81940888 3-7), Department of Botany, University of Kerala, Kariavattom, Thiruvananthapuram. </li>
              <li>Balakrishnan P.  2021. Challenges of Wildlife Conservation (in Malayalam). Deshabhimani- Kilivathil. 10th October. P. 4. </li>
              <li>Balakrishnan P. 2021. Roots of Human-Wildlife Conflicts. (in Malayalam). Sasthra Keralam. May. P. 24-51. </li>
              <li>Bindu T.N. and Balakrishnan P. 2021. International decade of ecosystem restoration (in Malayalam). Deshabhimani- Kilivathil. 16th May. P. 4.</li>
          </ul>
      </div>
  </div>  
  <div class="container right">
    <div class="content">
        <h2 class="year">2020</h2>
        <ul>
            <li>
              Patel, B., Sivaraman, S. and P. Balakrishnan. 2020. <i> Duttaphrynus parietalis</i> (Indian toad) and <i>Duttaphrynus melanostictus </i> (Asian common toad). Microhabitat use. Herpetological Review 51(4):816-817. 
            </li>
            <li>
              Das, S., M. Harpalani, B. Chowdhuri, R. Negi, S.T. Ali and M. Singh. 2020. Use of an Embedded Fruit by the Nicobar Long-tailed Macaque <i>(Macaca fascicularis umbrosus)</i>: I. Familiarity to Coconuts (<i>Cocos nucifera L. </i>) and Temporal Patterns of Coconut Foraging. Primate Conservation, 34: 195-216. 
              <a href="http://static1.1.sqspcdn.com/static/f/1200343/28367900/1604696360367/PC34_Das_et_al_M_fascicularis_Nicobar_coconut_feeding.pdf?token=Zxd9bPLjOOjxRGkqljEMw20qTJg%3D" target="_blank">
              (pdf)
              </a>
            </li>
            <li>
              ​Balakrishnan P. and Bindu T.N. 2020. Habitat fragmentation and wildlife (in Malayalam). Aranyam. August-September. P. 8-11.
            </li>
          </ul>
      </div>
  </div>  
  <div class="container right">
    <div class="content">
        <h2 class="year">2019</h2>
        <ul>
            <li>
              Sujanapal, P. and P. Balakrishnan. 2019. Flora and fauna of the proposed Ponmudi WLS - rapid assessment report. Submitted to the Kerala Forest and Wildlife Department.
            </li>
            <li>
              Balakrishnan P and T.N. Bindu. Tree Cavities: microhabitats of animals (in malayalam). Aranyam, November, 2019. 
            </li>
          </ul>
      </div>
  </div>  
       

</body>
</html>


{% endblock content %}


