{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>
        Wildlife ecology, behavioural ecology and community ecology 
    </h2>
    <p>
        Understanding the demography, habitat use, resource use, space use, and interactions of species and populations, along with the impact of human activities within rapidly changing climatic conditions, is vital for informing effective wildlife management and conservation strategies. 
    </p>
    <p>Behavioural ecology is central to informing natural resource and wildlife management as it provides an early warning system for environmental changes. By directly or indirectly influencing vital rates like survival and reproduction, behaviour plays a key role in population dynamics and conservation. The projects and programs under this theme primarily emphasise the well-established connections between behavioural ecology, population ecology, and community ecology for effective conservation.</p>
    <p>Our lab uses various sampling designs and statistical modelling approaches to analyze wildlife data collected with a variety of methods, from live-trapping to non-invasive techniques (hair sampling, camera trapping),  and DNA collection  to enhance our knowledge of science-driven wildlife conservation and management. 
    </p>
    
    <h2>Ongoing & recent projects and programmes: </h2>
    <ul>
        <li>Community structure, habitat associations and conservation of bats along the land use gradients in Kerala in the context of climate change and emerging zoonotic diseases.</li>
        <li>Patterns of tree cavity occurrence and use by vertebrates in tropical forests of the Western Ghats: a community web approach and its implications in forest management.
        </li>
        <li>Diversity and dynamics of a tropical forest ecosystem in southern Western Ghats in the context of changing climate. 
        </li>
        <li>Community structure and habitat use of rodents in a tropical forest of the southern Western Ghats, India.</li>
        <li>Diversity and abundance of tree-microhabitats and its potential as indicators of vertebrate diversity in tropical rainforests of the Western Ghats.</li>
        <li>Foraging ecology of Bonnet macaque along the anthropogenic gradient: The food traits perspective. 
        </li>
    </ul>
    <h2>
        Team & Collaborators: 
    </h2>
    <p><a  style="text-decoration: none;"  href="{% url 'sheheer'%}">  Sheheer</a>,<a  style="text-decoration: none;"  href="{% url 'nithin'%}"> Nithin </a>, 
        <a  style="text-decoration: none;"  href="{% url 'sreejith'%}">sreejith</a>, <a  style="text-decoration: none;"  href="{% url 'deepak'%}">Deepak</a>,
         <a  style="text-decoration: none;"  href="{% url 'bharati'%}">Bharathi </a>


    </p>
    <h2>
        Funding:
    </h2>
    <p>KSCSTE, MoEF&CC  </p>

</div>

{% endblock content %}