{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <p class="paragragh">
        Our research interests range broadly in wildlife biology, conservation biology, behavioural ecology and evolutionary ecology.
    </p>
    <p class="paragragh">
        Specific interests include: ecology and conservation of threatened and fragmented populations, population monitoring, wildlife–habitat relationships, biodiversity conservation in human-altered habitats, population dynamics and life-history evolution of vertebrates, human-wildlife interactions, human dimensions of wildlife and conflict mitigation,  evidence-based conservation and policy making, citizen science and conservation education.
    
    </p>
</div>

<div class="container">

    <div class="row">
        <div class="col-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/images/partners.png' %}" alt="Wildlife-human dynamics">
                <div class="card-body" style="background-color: #17a2b84d;">
                  <h5 class="card-title">Wildlife-human dynamics</h5>
                  <p class="card-text">Human-wildlife interactions and human dimensions of wildlife conservation</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
    
        </div>
        <div class="col-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/images/partners.png' %}" alt="Threatened species- biology & conservation">
                <div class="card-body" style="background-color:#17b8224f;">
                  <h5 class="card-title">Threatened species- biology & conservation </h5>
                  <p class="card-text">Understanding the biology and evidence-based conservation of species and ecosystems under threat</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            
        </div>
        <div class="col-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/images/partners.png' %}" alt="Surveys and population assessment">
                <div class="card-body" style="background-color:#b87d1787;">
                  <h5 class="card-title">Surveys and population assessment</h5>
                  <p class="card-text">Status surveys and population assessment of wildlife</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/images/partners.png' %}" alt="Wildlife ecology, behaviour and community ecology ">
                <div class="card-body" style="background-color: #17a2b84d;">
                  <h5 class="card-title">Wildlife ecology, behaviour and community ecology </h5>
                  <p class="card-text">Exploring the connections between behavioural ecology, population ecology, and community ecology for effective wildlife conservation.</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        
        </div>
        <div class="col-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/images/partners.png' %}" alt="Life history evolution and natural history">
                <div class="card-body" style="background-color:#17b8224f;">
                  <h5 class="card-title">Life history evolution and natural history</h5>
                  <p class="card-text">Life history evolution of vertebrates, natural history of tropical fauna.</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        
        </div>
        <div class="col-4">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/images/partners.png' %}" alt="Citizen science, outreach & stakeholder engagement">
                <div class="card-body" style="background-color:#b87d1787;">
                  <h5 class="card-title">Citizen science, outreach & stakeholder engagement </h5>
                  <p class="card-text">Evidence-based conservation and policies; democratising science and capacity building, disruptive digital technologies for nature conservation .</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        
        </div>
    </div>
    
    
</div>

{% endblock content %}


