{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 124px;">
    <h2>
        Biology & conservation of threatened species 
    </h2>
    <p>
        The Western Ghats of India, a treasure trove of biodiversity, harbours a remarkable array of threatened wildlife including megaherbivores to tiny amphibians. However, there is limited knowledge regarding their current status, distribution, biology, and the threats they face, which push them closer to extinction. By synergizing scientific rigour with active community engagement, our ultimate goal is to secure the long-term survival of these vulnerable and endangered species. At present, we are focussing on a wide array of threatened species including the lion-tailed macaque (Macaca silenus), bonnet macaque (Macaca radiata) and Salim Ali’s Fruit Bat (Latidens salimalii) Smooth-coated Otter (Lutra Perspicillata), Small-clawed Otter (Aonyx cinerea), Cycas annaikalenis, and Malabar torrent toad (Blaira ornata).  
    </p>
    <h2>Ongoing & recent projects and programmes: </h2>
    <ul>
        <li>Conservation of Critically Endangered cycad, Cycas annaikalensis in India.</li>
        <li>Foraging ecology of Bonnet macaque along the anthropogenic gradient: The food traits perspective.</li>
        <li>Stakeholder perceptions on the human-lion tailed macaque interactions.</li>
        <li>Otters outside protected areas: population assessment and conflict mitigation through stakeholder participation.</li>
        <li>Conservation of the Endangered Salim Ali’s fruit bat in the Western Ghats, India. </li>
        <li>Understanding the ecology and conservation priorities of the endangered Ghatophryne ornata through research and community participation.</li>
    </ul>
    <h2>
        Team & Collaborators: 
    </h2>
    <p><a  style="text-decoration: none;"  href="{% url 'sheheer'%}">  Sheheer</a>,<a  style="text-decoration: none;"  href="{% url 'nithin'%}"> Nithin </a>, 
        <a  style="text-decoration: none;"  href="{% url 'riya'%}">Riya</a>, <a  style="text-decoration: none;"  href="{% url 'ajith'%}">Ajith </a>
    </p>
    <h2>
        Funding:
    </h2>
    <p>KSCSTE, Kerala Forest and Wildlife Department,  Mohammed Bin Species Conservation Fund, Conservation Leadership Programme.   </p>

</div>

{% endblock content %}