{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 124px;">
    <h2>
        Surveys and population assessment
    </h2>
    <p>
        Status surveys and population assessments play a crucial role in wildlife conservation efforts. They provide essential information on the abundance, distribution, and trends of different species, helping conservationists understand the health of populations and identify potential threats. These surveys enable informed decision-making, allowing for the implementation of targeted conservation strategies, such as habitat protection, species-specific management plans, and measures to mitigate human-wildlife conflicts. By regularly conducting status surveys and population assessments, conservationists can monitor the effectiveness of their interventions and make adjustments as needed to ensure the long-term survival of wildlife species.

    </p>
    <p>Our team routinely conducts or coordinates surveys and population estimation of various taxa including birds, mammals and herpetofauna across Kerala. Look out for notifications or contact us if you are interested in volunteering the surveys. 
    </p>
    <h2>Ongoing & recent projects and programmes: </h2>
    <ul>
        <li>Wildlife-friendly and organic certification for cash crop plantations of KFDC</li>
        <li>Monsoon croaks- bioblitz  </li>
    </ul>
    <h2>
        Team & Collaborators: 
    </h2>
    <p><a  style="text-decoration: none;"  href="{% url 'sheheer'%}">  Sheheer</a>,<a  style="text-decoration: none;"  href="{% url 'bibin'%}"> Bibin </a>, 
        <a  style="text-decoration: none;"  href="{% url 'riya'%}">Riya</a>, <a  style="text-decoration: none;"  href="{% url 'vishal'%}">Vishal</a>,
         <a  style="text-decoration: none;"  href="{% url 'ajith'%}">Ajith </a>, <a  style="text-decoration: none;"  href="#">Aldred </a>
    </p>
    <h2>
        Funding:
    </h2>
    <p>KSCSTE  </p>

</div>

{% endblock content %}