{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .heading{
    font-size: 32px;font-family: 'Montserrat', sans-serif;font-weight: 900;
    }
    .ongoing{
        font-size: 24px;font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    }
    .subheading{
    font-size: 24px;font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    }
    .content{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    }
    .hrline{
        background-color: rgb(80,183,119);
        width: 559px;
        height: 3px;
        margin: 0px;
    }
        
    .row {
        position: relative;
        margin: auto;
        overflow: hidden;
    }
    .row img {
        max-width: 100%;
        transition: all 2.7s;
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1);
    }

    .row:hover img {
        transform: scale(1.07);
    }
    .imageclass{
        overflow: hidden;
    }
    #scrolltext{
    overflow: scroll;
    width: 95%;
    height: 70%;
    scrollbar-width: thin;


    }
    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid rgba(112, 144, 125, 0.856);
    }

</style>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap" rel="stylesheet">
<div class="researchbody" style="margin-top: 124px;">
    <h2 class="heading">
        Life history evolution and natural history 
    </h2>
    <br>
    <p class="content">
        Information on the life-history traits are essential for estimating the population growth rates, evaluating various hypotheses regarding life-history evolution, predicting the response of species to future environmental change and developing conservation management of rare species. About 80% of all passerines breed in the tropics, however, breeding biology and life-history traits of most tropical birds and the factors determining the evolution of these traits are poorly known. Similarly, the life history traits of the majority of mammals, amphibians and reptiles are largely unknown.  
    </p>
    <p class="content">Understanding organisms, including their characteristics, habitats, diet, behaviour, and mortality, remains crucial to science and society. Integrating this knowledge becomes increasingly increasingly important for translating results obtained through modern research tools, comprehending and optimising complex human-environment interactions, advancing human health, and fostering innovation through biology-inspired design. To strengthen the bond between science and society, reviving and promoting the practice of natural history is crucial.
    </p>
    <h2 class="ongoing">Ongoing & recent projects and programmes:</h2>
    <hr class="hrline">
    <br>
    <br>
    
    <div class="row" style="height: 28em; border-radius: 7px; ">
        <div class="col-sm-6" style="background-color: rgb(244, 244, 244); ">
          <br>
          <div class="subheading" style="text-align: center;  padding-left: 2px; padding-right: 2px;">
            Database on the life history and functional traits of south-asian bats
          </div>
          <br>
          <p class="researchcontent" id="scrolltext" style="padding-left: 5%;padding-right: 5%;padding-bottom: 22%;">
           
           </p>
          <br>
        </div>
        <div class="col-sm-6 imageclass" style="padding: 0px;">
        </div>

    </div>

    <br>
    <div class="row" style="height: 28em; border-radius: 7px; ">
        <div class="col-sm-6 imageclass" style="padding: 0px;">
        </div>
        <div class="col-sm-6" style="background-color: rgb(244, 244, 244); ">
          <br>
          <div class="subheading" style="text-align: center;  padding-left: 2px; padding-right: 2px;">
            Camera trapping wildlife in forest and plantation landscapes
          </div>
          <br>
          <p class="researchcontent" id="scrolltext" style="padding-left: 5%;padding-right: 5%;padding-bottom: 22%;">
           
           </p>
          <br>
        </div>
        

    </div>

    <br>
    <div class="row" style="height: 28em; border-radius: 7px; ">
        <div class="col-sm-6" style="background-color: rgb(244, 244, 244); ">
          <br>
          <div class="subheading" style="text-align: center;  padding-left: 2px; padding-right: 2px;">
            Database on rodents of India
          </div>
          <br>
          <p class="researchcontent" id="scrolltext" style="padding-left: 5%;padding-right: 5%;padding-bottom: 22%;">
           
           </p>
          <br>
        </div>
        <div class="col-sm-6 imageclass" style="padding: 0px;">
        </div>

    </div>

    <br>
    <div class="row" style="height: 28em; border-radius: 7px; ">
        <div class="col-sm-6 imageclass" style="padding: 0px;">
        </div>
        <div class="col-sm-6" style="background-color: rgb(244, 244, 244); ">
          <br>
          <div class="subheading" style="text-align: center;  padding-left: 2px; padding-right: 2px;">
            Passive acoustic monitoring of wildlife
          </div>
          <br>
          <p class="researchcontent" id="scrolltext" style="padding-left: 5%;padding-right: 5%;padding-bottom: 22%;">
           
           </p>
          <br>
        </div>
        

    </div>

    <br>
    <div class="row" style="height: 28em; border-radius: 7px; ">
        <div class="col-sm-6" style="background-color: rgb(244, 244, 244); ">
          <br>
          <div class="subheading" style="text-align: center;  padding-left: 2px; padding-right: 2px;">
            Wildlife Museum
          </div>
          <br>
          <p class="researchcontent" id="scrolltext" style="padding-left: 5%;padding-right: 5%;padding-bottom: 22%;">
            Our lab is coordinating the activities of the KFRI-Wildlife Museum, which is a major attraction at KFRI. The specimens and other collections at the museum is used for
graduate and undergraduate training, species identification workshops and
educational programs by state and local agencies. Conservation education and training to students and the inservice training to the officials of forests departments across the country are major activities of the museum. See <a href="https://www.kfri.res.in/kfri_museums.asp" target="_blank">instructions</a> for visitors.
        
           </p>
          <br>
        </div>
        <div class="col-sm-6 imageclass" style="padding: 0px;">
            <img src="{% static '/images/lifehistory/life5.JPG' %}" class="researchimg" alt="Wildlife Museum">
        </div>

    </div>

    <br>
    <br>
    <h2 class="ongoing">
        Team & Collaborators: 
    </h2>
    <p class="content"><a  style="text-decoration: none;"  href="{% url 'sheheer'%}">  Sheheer</a>,<a  style="text-decoration: none;"  href="{% url 'nithin'%}"> Nithin </a>, 
        <a  style="text-decoration: none;"  href="{% url 'deepak'%}">Deepak K</a>, <a  style="text-decoration: none;"  href="{% url 'sreejith'%}">Sreejith</a>,
         <a  style="text-decoration: none;"  href="{% url 'joseph'%}">Joseph </a>, <a  style="text-decoration: none;"  href="{% url 'ahirbudhnyan'%}">Ahir </a>,
         <a  style="text-decoration: none;"  href="{% url 'shireen'%}">Shireen </a>
    </p>

    <h2 class="ongoing">
        Funding:
    </h2>
    <p class="content">KSCSTE  </p>

</div>

{% endblock content %}