{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 124px;">
    <h2>
        Life history evolution and natural history 
    </h2>
    <p>
        Information on the life-history traits are essential for estimating the population growth rates, evaluating various hypotheses regarding life-history evolution, predicting the response of species to future environmental change and developing conservation management of rare species. About 80% of all passerines breed in the tropics, however, breeding biology and life-history traits of most tropical birds and the factors determining the evolution of these traits are poorly known. Similarly, the life history traits of the majority of mammals, amphibians and reptiles are largely unknown.  
    </p>
    <p>Understanding organisms, including their characteristics, habitats, diet, behaviour, and mortality, remains crucial to science and society. Integrating this knowledge becomes increasingly increasingly important for translating results obtained through modern research tools, comprehending and optimising complex human-environment interactions, advancing human health, and fostering innovation through biology-inspired design. To strengthen the bond between science and society, reviving and promoting the practice of natural history is crucial.
    </p>
    <h2>Ongoing & recent projects and programmes:</h2>
    <ul>
        <li>Database on the life history and functional traits of south-asian bats</li>
        <li>Camera trapping wildlife in forest and plantation landscapes</li>
        <li>Database on rodents of India
        </li>
        <li>Passive acoustic monitoring of wildlife</li>
        <li>Wildlife Museum </li>
    </ul>
    <h2>
        Team & Collaborators: 
    </h2>
    <p><a  style="text-decoration: none;"  href="{% url 'sheheer'%}">  Sheheer</a>,<a  style="text-decoration: none;"  href="{% url 'nithin'%}"> Nithin </a>, 
        <a  style="text-decoration: none;"  href="{% url 'deepak'%}">Deepak</a>, <a  style="text-decoration: none;"  href="{% url 'sreejith'%}">Sreejith</a>,
         <a  style="text-decoration: none;"  href="{% url 'joseph'%}">Joseph </a>, <a  style="text-decoration: none;"  href="{% url 'ahirbudhnyan'%}">Ahir </a>,
         <a  style="text-decoration: none;"  href="{% url 'shireen'%}">Shireen </a>
    </p>

    <h2>
        Funding:
    </h2>
    <p>KSCSTE  </p>

</div>

{% endblock content %}