{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .heading{
    font-size: 26px;font-family: 'Montserrat', sans-serif;font-weight: 600;
    }
    .subheading{
    font-size: 24px;font-family: 'Montserrat', sans-serif;
    }
    .content{
    font-size: 22px;font-family: 'Merriweather';
    }
</style>
<div class="container" style="margin-top: 124px;">
    <h2 class="heading">
        Biology & conservation of threatened species 
    </h2>
    <p class="content">
        The Western Ghats of India, a treasure trove of biodiversity, harbours a remarkable array of threatened wildlife including megaherbivores to tiny amphibians. However, there is limited knowledge regarding their current status, distribution, biology, and the threats they face, which push them closer to extinction. By synergizing scientific rigour with active community engagement, our ultimate goal is to secure the long-term survival of these vulnerable and endangered species. At present, we are focussing on a wide array of threatened species including the lion-tailed macaque (Macaca silenus), bonnet macaque (Macaca radiata) and Salim Ali’s Fruit Bat (Latidens salimalii) Smooth-coated Otter (Lutra Perspicillata), Small-clawed Otter (Aonyx cinerea), Cycas annaikalensis, and Malabar torrent toad (Blaira ornata).  
    </p>
    <h2 class="heading">Ongoing & recent projects and programmes: </h2>
    <ul>
        <li class="subheading">Conservation of Critically Endangered cycad, Cycas annaikalensis in India.</li>
        <p class="content">
            According to the IUCN red list, Cycas annaikalensis is the only Critically Endangered cycad species reported from India. Currently the species is surviving with hardly about 100 individuals in the type locality and a newly reported site near to it with very few reproductively mature individuals. Since these mature individuals do not cone frequently the annual fecundity rate is critically low. The presently known habitat of this species is a highly disturbed reserve forest outside the protected area network suffering from cattle grazing, local hunting, unsustainable collection of forest produce and frequent fire events. Consequently, C. annaikalensis suffers direct threat from collection of whole plants, leaves, cones and seeds by local people, traditional healers and plant sellers for various purposes. The present project aims to assess the population status, threats and develop conservation strategies for this endangered cycad. 
        </p>
        <li class="subheading">Foraging ecology of Bonnet macaque along the anthropogenic gradient: The food traits perspective.</li>
        <li class="subheading">Stakeholder perceptions on the human-lion tailed macaque interactions.</li>
        <li class="subheading">Otters outside protected areas: population assessment and conflict mitigation through stakeholder participation.</li>
        <li class="subheading">Conservation of the Endangered Salim Ali’s fruit bat in the Western Ghats, India. </li>
        <li class="subheading">Understanding the ecology and conservation priorities of the endangered Ghatophryne ornata through research and community participation.</li>
    </ul>
    <h2 class="heading">
        Team & Collaborators: 
    </h2>
    <p class="content"><a  style="text-decoration: none;"  href="{% url 'sheheer'%}">  Sheheer</a>,<a  style="text-decoration: none;"  href="{% url 'nithin'%}"> Nithin </a>, 
        <a  style="text-decoration: none;"  href="{% url 'riya'%}">Riya</a>, <a  style="text-decoration: none;"  href="{% url 'ajith'%}">Ajith </a>
    </p>
    <h2 class="heading">
        Funding:
    </h2>
    <p class="content">KSCSTE, Kerala Forest and Wildlife Department,  Mohammed Bin Species Conservation Fund, Conservation Leadership Programme.   </p>

</div>

{% endblock content %}