{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
    .teammargin{
        margin-left: 10%; 
        margin-right: 10%;
    }
    .intern{
         margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
    }
    .namehead{
        font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
    }
    .designation{
        margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;
    }
    .project{
        font-size: 18px;font-family: Merriweather;margin-top: -12px;font-style: italic;
    }
    .alumni p{
        margin-left: 41%; font-family: 'bebas neue', sans-serif; font-size: 30px;font-weight: 700;
    }
    .projectstaff{
        font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

    }
    .master{
        font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
    }
    #thesis{
        font-style: italic;
    }
</style>
<div style="height: 90%;">
    <img src="{% static '/images/team.webp' %}"  style="height: 80%; width:100%; margin-top: 59px;" alt="First slide">
    <div  class="divimgtext">
        <p class=" pagehead">Team</p>
    </div>
</div>
<div>
    <p style="margin-top: -76px; margin-left: 41%; font-family: 'bebas neue', sans-serif; font-size: 30px;font-weight: 700;">CURRENT MEMBERS</p>
    
</div>
<br>
<div class="teammargin">


<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'balakrishnan'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/team_balu.webp' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Dr.Peroth Balakrishnan">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Dr.Peroth Balakrishnan</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Principal Investigator & Scientist</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'sheheer'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/shaheer.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Sheheer">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Sheheer T A</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">PhD Scholar</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'sreejith'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/sreejith.jpg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Sreejith Sivaraman">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Sreejith Sivaraman</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">PhD Scholar</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'nithin'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/nithin.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="nithin">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Nithin Divakar</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px; font-family: Merriweather;">PhD Scholar</p>
        </a>
    </div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'bharati'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/bharathi-profile.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Bharati Patel">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Bharati Patel</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">PhD Scholar</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'riya'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/team_riya.webp' %}" style="border-radius: 3%;" width="240px" height="240px" alt="riya">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Riya Bobby Peter</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'deepak'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/deepak.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="deepak">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Deepak</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Assistant</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'bibin'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/bibin.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Bibin Paul">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Bibin Paul</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'joseph'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/joseph1.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="joseph">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Joseph Justine</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'ahirbudhnyan'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/ahir.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Ahirbudhnyan M">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Ahirbudhnyan M</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'dinto'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/dinto.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="DINTO DAVI T">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Dinto Davi T</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Computer Programmer</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'ashik'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/Ashik-web.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="ashik">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Ashik M.E</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'shireen'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/shireen1.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Shireen sithara">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Shireen sithara</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Assistant</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'vishal'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/vishal.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Vishal  Gautham M S">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Vishal  Gautham M S</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'ajith'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/team_ajith.webp' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Ajith Jose Paul">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Ajith Jose Paul</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Assistant</p>
        </a>
    </div>

</div>

<br>
<div>
    <p class="intern">INTERNS </p>
    <span class="project">Nil </span>
    <div class="row" style="text-align: center;">


    </div>
</div>


<br>
<br>
<div class="alumni">
    <p>ALUMNI  </p>
    <hr>
</div>
<br>
<p class="projectstaff">PROJECT STAFFS</p>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/Alumini/akhil.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Akhil V</h5>
        <p class="designation">Project Staff (Feb 2021- July 22)</p>
        <p class="project">Project: Wildlife Museum</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/aldread-kochery.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Aldred Kocherry</h5>
        <p class="designation">Project Staff (Dec 2020-Nov 21)</p>
        <p class="project">Project: INS bird hazard </p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/Vishnu-Narayanan.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Vishnu Narayanan</h5>
        <p class="designation">Project Staff (March-July 2021)</p>
        <p class="project">Project: Human-Wildlife Conflict</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/shonith.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Shonith E</h5>
        <p class="designation">Project Staff (Jan 2018 - Oct 2020)</p>
        <p class="project">Project: Wildlife Museum </p>
    </div>

</div>


<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/Alumini/sujin.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Sujin N S</h5>
        <p class="designation">Project Staff (Aug 2019- 2020)</p>
        <p class="project">Project: Human-Wildlife Conflict</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/roshin-tom.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Roshin Tom </h5>
        <p class="designation">Project Staff (Feb - Sep 2020)</p>
        <p class="project">Project: Wildlife Friendly Palakkad</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/Julsana-Jalal.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Julsana Jalal</h5>
        <p class="designation">Project Staff (Feb-Sep 2020)</p>
        <p class="project">Project: Wildlife Friendly Palakkad</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/arjun.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Arjun M S</h5>
        <p class="designation">Project Staff (Aug 2019- Feb 2020)</p>
        <p class="project">Project: Wildlife Museum </p>
    </div>

</div>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/Alumini/Rahul-N-R.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Rahul N R</h5>
        <p class="designation">Project Staff (Feb - Sep 2020)</p>
        <p class="project">Project: Wildlife Friendly Palakkad</p>
    </div>

</div>

<hr>
<p class="master">INTERNS</p>
<br>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/Interns/anjana.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Anjana">
        <h5 class="namehead"> Anjana Madhav </h5>
        <h6>Central University, Rajasthan</h6>
        <p class="designation">Biodiversity mapping tools</p>
        <p class="project">Year:  2023</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/Nimitha-C-N.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Nimitha">
        <h5 class="namehead"> Nimitha C N </h5>
        <h6>Pondicherry University</h6>
        <p class="designation">Biodiversity Mapping</p>
        <p class="project">Year:  2022</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/Annoose-Basil-P.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Annoose">
        <h5 class="namehead"> Annoose Basil P </h5>
        <h6>Pondicherry University</h6>
        <p class="designation">Biodiversity Mapping</p>
        <p class="project">Year:  2022</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/harinarayanan-pc.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Harinarayan">
        <h5 class="namehead"> Harinarayan P C</h5>
        <h6>Pondicherry University</h6>
        <p class="designation">Biodiversity Mapping</p>
        <p class="project">Year:  2022</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/sreethu.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Sreethu M S</h5>
        <p class="designation">Wildlife Museum</p>
        <p class="project">Year:  2019</p>
    </div>
</div>
<hr>
<p class="master">MASTER STUDENTS</p>
<br>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/msc students/Ashmi.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Nimitha">
        <h5 class="namehead">Ashmi J. S</h5>
        <h6>Kerala Police Academy, Thrissur</h6>
        <p id="thesis">
            Thesis:Studying the hair characteristics of non-volant small mammals involved in wildlife trading and poaching. 
        </p>
        <p class="project">Year:  2023</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/GifnaJohn.jpeg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Nimitha">
        <h5 class="namehead"> Gifna John</h5>
        <h6>Sacred Heart College (Autonomous), Kochi</h6>
        <p id="thesis">Thesis: Biodiversity mapping in Kumbalam Grama Panchayath, Ernakulam using digital tools</p>
        <p class="project">Year:  2022-23</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/GEORGE.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Annoose">
        <h5 class="namehead">George Joy</h5>
        <h6>Bharathiar University</h6>
        <p id="thesis">Thesis: An analysis of the snake bites in Kannur district, Kerala to develop mitigation strategies </p>
        <p class="project">Year:  2022-23</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/yadhukrishna.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Harinarayan">
        <h5 class="namehead"> Yadhu Krishna</h5>
        <h6>Bharathiar University</h6>
        <p id="thesis">Thesis: Assessing the diversity and activity patterns of large mammals in plantations adjacent to the Wayanad Wildlife Sanctuary. </p>
        <p class="project">Year:  2022-23</p>
    </div>
</div>


<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/msc students/AMRT.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Amrit Krishna S </h5>
        <h6>Pondicherry University</h6>
        <p id="thesis">Thesis: Wetland bird roosts in southern part of  Vembanad Kole-Ramsar site: mapping, characterization and human perceptions.</p>
        <p class="project">Year:  2021-22</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/msc students/DEVIKA.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Devika S Nair</h5>
        <h6>Pondicherry University</h6>
        <p id="thesis">Thesis: Dogs vs wildlife: impacts and public perceptions from Kerala.</p>
        <p class="project">Year:  2021-22</p>
    </div>

    <div class="col-3">
        <img  src="{% static '/images/msc students/VISHAL.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Vishal Goutham M S </h5>
        <h6>Pondicherry University</h6>
        <p id="thesis">Thesis: Diurnal activity patterns and feeding ecology of the Indian Giant Squirrel <i>Ratufa indica</i> in a remnant forest habitat in Thrissur, Kerala.</p>
        <p class="project">Year:  2021-22</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/msc students/adithya.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Adithya Muraleedharan</h5>
        <h6>Sree Sankara College, Kaladi</h6>
        <p id="thesis">Thesis: Assessment of the efficacy of human wildlife conflict mitigation measures in Palakkad district, Kerala.</p>
        <p class="project">Year:  2019-20</p>
    </div>
</div>

</div>
{% endblock content %}