{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
    @media(max-width: 475px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }
    @media(max-width: 640px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }
    @media(max-width: 768px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }
    @media(max-width: 1024px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }
    @media(max-width: 1280px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }
    @media(max-width: 1536px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }
    /* big screen systems */
    @media(min-width: 1537px){
        .teammargin{
            margin-left: 10%; 
            margin-right: 10%;
        }
        .intern{
            margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        .namehead{
            font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;
        }
        .designation{
            margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: 'Raleway', sans-serif;
        }
        .project{
            font-size: 14x;font-family: 'Raleway', sans-serif; ;margin-top: -12px;font-style: italic;
        }
        .alumni p{
            margin-left: 41%;  font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        .projectstaff{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;

        }
        .master{
            font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;
        }
        #thesis{
            font-style: italic;
            font-family: 'Raleway', sans-serif; 
            font-size: 14px;
        }
        .teamcover{
            margin-top: 59px;
            width:102%;
        }
        .teamcontent{
            margin-top: 120px;
        }
        .university{
            font-size: 18px;font-family: 'Raleway', sans-serif; 
            font-weight: bold;
        }    
    }

</style>
<div class="teamcover">
    <img src="{% static '/images/team.webp' %}"  style="width:102%; margin-left: -1px;" alt="Team">
    <div  class="divimgtext">
        <p class=" pagehead">Team</p>
    </div>
</div>
<div class="teamcontent">
    <p class="heading">CURRENT MEMBERS</p>
    
</div>
<br>
<div class="teammargin">


<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'balakrishnan'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/team_balu.webp' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Dr.Peroth Balakrishnan">
            <h5 class="namehead">
                Dr.Peroth Balakrishnan</h5>
            <p class="designation">Principal Investigator & Scientist</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'sheheer'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/shaheer.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Sheheer">
            <h5 class="namehead">Sheheer T A</h5>
            <p class="designation">PhD Scholar</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'sreejith'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/sreejith.jpg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Sreejith Sivaraman">
            <h5 class="namehead">Sreejith Sivaraman</h5>
            <p class="designation">PhD Scholar</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'nithin'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/nithin.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="nithin">
            <h5 class="namehead">Nithin Divakar</h5>
            <p class="designation">PhD Scholar</p>
        </a>
    </div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'bharati'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/bharathi-profile.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Bharati Patel">
            <h5 class="namehead">
                Bharati Patel</h5>
            <p class="designation">PhD Scholar</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'riya'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/team_riya.webp' %}" style="border-radius: 3%;" width="240px" height="240px" alt="riya">
            <h5 class="namehead">Riya Bobby Peter</h5>
            <p class="designation">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'deepak'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/deepak.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="deepak">
            <h5 class="namehead">Deepak K</h5>
            <p class="designation">Project Assistant</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'ajith'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/team_ajith.webp' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Ajith Jose Paul">
            <h5 class="namehead">Ajith Jose Paul</h5>
            <p class="designation">Project Assistant</p>
        </a>
    </div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'joseph'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/joseph1.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="joseph">
            <h5 class="namehead">
                Joseph Justine</h5>
            <p class="designation">Project Fellow</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'ahirbudhnyan'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/ahir.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Ahirbudhnyan M">
            <h5 class="namehead">Ahirbudhnyan M</h5>
            <p class="designation">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'dinto'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/dinto.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="DINTO DAVI T">
            <h5 class="namehead">Dinto Davi T</h5>
            <p class="designation">Computer Programmer</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'ashik'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/Ashik-web.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="ashik">
            <h5 class="namehead">Ashik M E</h5>
            <p class="designation">Project Fellow</p>
        </a>
    </div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'shireen'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/shireen1.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Shireen sithara">
            <h5 class="namehead">
                Shireen Sithara</h5>
            <p class="designation">Project Assistant</p>
        </a>

        
    </div>



</div>

<p class="intern">MASTER STUDENTS</p>
<br>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/masters/vivek.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="vivek vinod">
        <h5 class="namehead">Vivek Vinod</h5>
        <h6 class="university">Kerala University of Fisheries and Ocean Studies</h6>
        <p id="thesis">
            Thesis:Land-use land-cover changes and increasing HEC in Chalakudy. 
        </p>
        <p class="project">Year:  2024</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/masters/jayan.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Jayashankar">
        <h5 class="namehead">Jayashankar.S.Nair</h5>
        <h6 class="university">Pondicherry University</h6>
        <p id="thesis">
            Thesis:Mapping of fruit bat roosts in Thrissur and assessing public perceptions . 
        </p>
        <p class="project">Year:  2024</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/masters/rijumon.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Riju">
        <h5 class="namehead">Riju K Francis</h5>
        <h6 class="university">Kerala Police Academy, Thrissur</h6>
        <p id="thesis">
            Thesis:Studying the hair characteristics of large mammals involved in wildlife trading and poaching. 
        </p>
        <p class="project">Year:  2024</p>
    </div>
</div>
<br>
<div>
    <p class="intern">INTERNS </p>
<!--    <span class="project">Nil </span>--> 
    <div class="row" style="text-align: center;">
        <div class="col-3">
            <img  src="{% static '/images/Interns/arathy.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Arathy S Madhu">
            <h5 class="namehead">Arathy S Madhu</h5>
        </div>
        <div class="col-3">
            <img  src="{% static '/images/Interns/Meenakshi_Baiju.jpeg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Meenakshi Baiju">
            <h5 class="namehead">Meenakshi Baiju</h5>
        </div>
        <div class="col-3">
            <img  src="{% static '/images/Interns/Angel_Verghese.jpeg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Angel V Verghese ">
            <h5 class="namehead">Angel V Verghese </h5>
        </div>
        <div class="col-3">
            <img  src="{% static '/images/Interns/Anusree.jpeg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Anusree M S">
            <h5 class="namehead">Anusree M S</h5>
        </div>
        

    </div>
    <div class="row" style="text-align: center;">
        <div class="col-3">
            <img  src="{% static '/images/Interns/Liyett_Paul.jpeg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Liyett Paul">
            <h5 class="namehead">Liyett Paul</h5>
        </div>
    </div>
</div>


<br>
<br>
<div class="alumni">
    <p >ALUMNI  </p>
    <hr>
</div>
<br>
<p class="projectstaff">PROJECT STAFF</p>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <a href="{% url 'vishal'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/vishal.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Vishal  Gautham M S">
            <h5 class="namehead">Vishal  Gautham M S</h5>
            <p class="designation">Project Staff (Aug 2021- Nov 23)</p>
            <p class="project">Project: Human WildLife Conflict</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'bibin'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/bibin.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Bibin Paul">
            <h5 class="namehead">Bibin M Paul</h5>
            <p class="designation">Project Staff (Aug 2021- Nov 23)</p>
            <p class="project">Project: Human WildLife Conflict</p>
        </a>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/akhil.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Akhil V</h5>
        <p class="designation">Project Staff (Feb 2021- July 22)</p>
        <p class="project">Project: Wildlife Museum</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/aldread-kochery.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Aldred Kocherry</h5>
        <p class="designation">Project Staff (Dec 2020-Nov 21)</p>
        <p class="project">Project: INS bird hazard </p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/Vishnu-Narayanan.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Vishnu Narayanan</h5>
        <p class="designation">Project Staff (March-July 2021)</p>
        <p class="project">Project: Human-Wildlife Conflict</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/shonith.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Shonith E</h5>
        <p class="designation">Project Staff (Jan 2018 - Oct 2020)</p>
        <p class="project">Project: Wildlife Museum </p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/sujin.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Sujin N S</h5>
        <p class="designation">Project Staff (Aug 2019- 2020)</p>
        <p class="project">Project: Human-Wildlife Conflict</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/roshin-tom.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Roshin Tom </h5>
        <p class="designation">Project Staff (Feb - Sep 2020)</p>
        <p class="project">Project: Wildlife Friendly Palakkad</p>
    </div>

</div>


<div class="row" style="text-align: center;">
    
    <div class="col-3">
        <img  src="{% static '/images/Alumini/Julsana-Jalal.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Julsana Jalal</h5>
        <p class="designation">Project Staff (Feb-Sep 2020)</p>
        <p class="project">Project: Wildlife Friendly Palakkad</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/arjun.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Arjun M S</h5>
        <p class="designation">Project Staff (Aug 2019- Feb 2020)</p>
        <p class="project">Project: Wildlife Museum </p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/Rahul-N-R.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> ​Rahul N R</h5>
        <p class="designation">Project Staff (Feb - Sep 2020)</p>
        <p class="project">Project: Wildlife Friendly Palakkad</p>
    </div>

</div>
<div class="row" style="text-align: center;">


</div>

<hr>
<p class="master">INTERNS</p>
<br>

<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/Interns/anjana.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Anjana">
        <h5 class="namehead"> Anjana Madhav </h5>
        <h6 class="university">Central University, Rajasthan</h6>
        <p class="designation">Biodiversity mapping tools</p>
        <p class="project">Year:  2023</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/profile.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="sidharth">
        <h5 class="namehead"> Sidharth S Kumar </h5>
        <h6 class="university">Christ University, Bangalore</h6>
        <p class="designation">Biodiversity mapping tools</p>
        <p class="project">Year:  2023</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/profile.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Noorshina">
        <h5 class="namehead"> Noorshina Nourin </h5>
        <h6 class="university">Christ University, Bangalore</h6>
        <p class="designation">Biodiversity mapping tools</p>
        <p class="project">Year:  2023</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/Nimitha-C-N.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Nimitha">
        <h5 class="namehead"> Nimitha C N </h5>
        <h6 class="university">Pondicherry University</h6>
        <p class="designation">Biodiversity Mapping</p>
        <p class="project">Year:  2022</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/Annoose-Basil-P.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Annoose">
        <h5 class="namehead"> Annoose Basil P </h5>
        <h6 class="university">Pondicherry University</h6>
        <p class="designation">Biodiversity Mapping</p>
        <p class="project">Year:  2022</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/harinarayanan-pc.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Harinarayan">
        <h5 class="namehead"> Harinarayan P C</h5>
        <h6 class="university">Pondicherry University</h6>
        <p class="designation">Biodiversity Mapping</p>
        <p class="project">Year:  2022</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Alumini/sreethu.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Sreethu M S</h5>
        <p class="designation">Wildlife Museum</p>
        <p class="project">Year:  2019</p>
    </div>
</div>
<hr>
<p class="master">MASTER STUDENTS</p>
<br>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/msc students/Ashmi.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Nimitha">
        <h5 class="namehead">Ashmi J. S</h5>
        <h6 class="university">Kerala Police Academy, Thrissur</h6>
        <p id="thesis">
            Thesis:Studying the hair characteristics of non-volant small mammals involved in wildlife trading and poaching. 
        </p>
        <p class="project">Year:  2023</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/GifnaJohn.jpeg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Nimitha">
        <h5 class="namehead"> Gifna John</h5>
        <h6 class="university">Sacred Heart College (Autonomous), Kochi</h6>
        <p id="thesis">Thesis: Biodiversity mapping in Kumbalam Grama Panchayath, Ernakulam using digital tools</p>
        <p class="project">Year:  2022-23</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/GEORGE.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Annoose">
        <h5 class="namehead">George Joy</h5>
        <h6 class="university">Bharathiar University</h6>
        <p id="thesis">Thesis: An analysis of the snake bites in Kannur district, Kerala to develop mitigation strategies </p>
        <p class="project">Year:  2022-23</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/Interns/yadhukrishna.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Harinarayan">
        <h5 class="namehead"> Yadhu Krishna</h5>
        <h6 class="university">Bharathiar University</h6>
        <p id="thesis">Thesis: Assessing the diversity and activity patterns of large mammals in plantations adjacent to the Wayanad Wildlife Sanctuary. </p>
        <p class="project">Year:  2022-23</p>
    </div>
</div>


<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/Interns/Abhinav.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Abhinav Nair</h5>
        <h6 class="university">VPM's B.N.Bandodkar College of Science (Autonomous), Thane</h6>
        <p id="thesis">Thesis: Exploring the participation and role of woodpeckers in avian mixed-species flocks in the tropical forests of the Western Ghats, Kerala</p>
        <p class="project">Year:  2022-23</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/msc students/AMRT.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Amrit Krishna S </h5>
        <h6 class="university">Pondicherry University</h6>
        <p id="thesis">Thesis: Wetland bird roosts in southern part of  Vembanad Kole-Ramsar site: mapping, characterization and human perceptions.</p>
        <p class="project">Year:  2021-22</p>
    </div>
    <div class="col-3">
        <img  src="{% static '/images/msc students/DEVIKA.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Devika S Nair</h5>
        <h6 class="university">Pondicherry University</h6>
        <p id="thesis">Thesis: Dogs vs wildlife: impacts and public perceptions from Kerala.</p>
        <p class="project">Year:  2021-22</p>
    </div>

    <div class="col-3">
        <img  src="{% static '/images/msc students/VISHAL.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Vishal  Gautham M S </h5>
        <h6 class="university">Pondicherry University</h6>
        <p id="thesis">Thesis: Diurnal activity patterns and feeding ecology of the Indian Giant Squirrel <i>Ratufa indica</i> in a remnant forest habitat in Thrissur, Kerala.</p>
        <p class="project">Year:  2021-22</p>
    </div>

</div>
<div class="row" style="text-align: center;">
    <div class="col-3">
        <img  src="{% static '/images/msc students/adithya.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Akhil V">
        <h5 class="namehead"> Adithya Muraleedharan</h5>
        <h6 class="university">Sree Sankara College, Kaladi</h6>
        <p id="thesis">Thesis: Assessment of the efficacy of human wildlife conflict mitigation measures in Palakkad district, Kerala.</p>
        <p class="project">Year:  2019-20</p>
    </div>
</div>

</div>
{% endblock content %}