{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
    .teammargin{
        margin-left: 10%; 
        margin-right: 10%;
    }
</style>
<div style="height: 100%;">
    <img src="{% static '/images/teamcover.png' %}"  style="height: 80%; width:100%; margin-top: 59px;" alt="First slide">
    <div  class="divimgtext">
        <p style="  font-family: 'Bebas Neue ', sans-serif ;font-weight: 600;font-size: 75px; margin-top: -20%;text-shadow: 2px 2px 4px black;    color: cornflowerblue;">THE TEAM</p>
    </div>
</div>
<div>
    <p style="margin-top: -76px; margin-left: 41%; font-family: 'Montserrat', sans-serif; font-size: 24px;font-weight: 600;">CURRENT MEMBERS</p>
    
</div>
<br>
<div class="teammargin">


<div class="row">
    <div class="col-3">
        <a href="{% url 'balakrishnan'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/balu.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Dr.Peroth Balakrishnan">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Dr.Peroth Balakrishnan</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Principal Investigator & Scientist</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'sheheer'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/shaheer.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Sheheer">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Sheheer T A</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">PhD Scholar</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'sreejith'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/sreejith.jpg' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Sreejith Sivaraman">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Sreejith Sivaraman</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">PhD Scholar</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'nithin'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/nithin.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="nithin">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Nithin Divakar</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px; font-family: Merriweather;">PhD Scholar</p>
        </a>
    </div>

</div>

<div class="row" >
    <div class="col-3">
        <a href="{% url 'bharati'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/bharathi.jpg' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Bharati Patel">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Bharati Patel</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">PhD Scholar</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'riya'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/riya.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="riya">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Riya Bobby Peter</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'deepak'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/deepak.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="deepak">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Deepak</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Assistant</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'bibin'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/bibin.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Bibin Paul">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Bibin Paul</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>

</div>

<div class="row" >
    <div class="col-3">
        <a href="{% url 'joseph'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/joseph.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="joseph">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Joseph Justine</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'ahirbudhnyan'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/ahir.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Ahirbudhnyan M">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Ahirbudhnyan M</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'dinto'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/dinto.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="DINTO DAVI T">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">DINTO DAVI T</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Computer Programmer</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'ashik'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/ashik.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="ashik">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Ashik M.E</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>

</div>

<div class="row" >
    <div class="col-3">
        <a href="{% url 'shireen'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/shireen1.png' %}"  style="border-radius: 3%;" width="240px" height="240px" alt="Shireen sithara">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">
                Shireen sithara</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Assistant</p>
        </a>

        
    </div>
    <div class="col-3">
        <a href="{% url 'vishal'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/vishal.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Vishal  Gautham M S">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Vishal  Gautham M S</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Fellow</p>
        </a>
    </div>
    <div class="col-3">
        <a href="{% url 'ajith'%}" style="text-decoration: none; color: rgb(0, 0, 0);">
            <img  src="{% static '/images/ajith.png' %}" style="border-radius: 3%;" width="240px" height="240px" alt="Ajith Jose Paul">
            <h5 style="font-size: 22px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-left: 5px;margin-right: 15px; margin-top: 20px;">Ajith Jose Paul</h5>
            <p style="margin-left: 5px;margin-right: 15px;font-size: 18px;font-family: Merriweather;">Project Assistant</p>
        </a>
    </div>

</div>
</div>
{% endblock content %}